<div class="android-header mdl-layout__header mdl-layout--fixed-header">
        <div class="mdl-layout__header-row">
          

          <span class="android-title mdl-layout-title site-title">
                      <h3> <a  href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.baseurl }}/">About</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ "/courses" | prepend: site.baseurl }}/">Catalog</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.baseurl }}/">What's New</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.baseurl }}/">Contact</a>
              
            </nav>
          </div>
          
          <span class="android-mobile-title mdl-layout-title site-title">
          <h3><a href="{{ site.baseurl }}/">{{ site.title }}</a></h3> 
          </span>
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title site-title">
         <h3><a  href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/">About</a>
          <a class="mdl-navigation__link" href="{{ "/courses" | prepend: site.baseurl }}/">Catalog</a>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/">What's New</a>
          <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Contact</a>
          
        
        </nav>
      </div>